/* UpdateUser.css */

.auth-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #488b8f;
}

h2 {
  padding-top: 3rem;
  font-family: 'Georgia';
  color: #488b8f;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
  font-size: large;
  font-family: 'Georgia';
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Georgia';
  font-size: 1rem;
}

button[type="submit"],
.btn-default {
  width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #488b8f;
    color: white;
    font-family: 'Georgia';
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
.btn-default:hover {
  background-color: #488b8f;
  color: #fff;
}

.card-footer .btn-default {
  background-color: #488b8f;
  border-color: #488b8f;
  color: white;
}

.card-footer .btn-default:hover {
  background-color: #407a76;
  border-color: #407a76;
}
