.h2 {
  padding-top: 3rem;
  font-family: 'Georgia';
  color: #5ea3a3;
}

.table {
  width: 100%; /* Make the table take up the full width of its container */
  border-collapse: collapse;
}

.table thead {
  background-color:#5ea3a3;
  color: #faf9f9;
  font-family: 'Georgia';
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #add2c9;
  font-family: 'Georgia';
  text-align: center;
}

.table tbody tr:nth-child(odd) {
  background-color:  #faf9f9;
  font-family: 'Georgia';
  text-align: center;
}

.btn-default {
  background-color: #faf9f9;
  border-color: #5ea3a3;
  color: #5ea3a3;
  font-family: 'Georgia';
}

.btn-default:hover{
  color: #5ea3a3;
}
